## this goes in ~/.aws/config
## testing boto3 config
## http://boto.cloudhackers.com/en/latest/boto_config_tut.html
[Boto]
debug = 2
num_retries = 1

[profile minio]
aws_access_key_id = ...
aws_secret_access_key = ...
## these do not actually work (yet?)
endpoint_url = https://minio.local:9000
https_validate_certificates = false

[profile b2]
#...

[default]
#aws_access_key_id = ...
#aws_secret_access_key = ...
#endpoint = ...:9000
#https_validate_certificates = false
